* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.compra-container {
    display: flex;
    justify-content: center;
}

.compra-internal {
    background-color: lightcyan;
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.input-labels{
    font-weight: bold;
    font-size: 1.3em;
}